# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
env/
ENV/
.venv/





# VS Code settings
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Logs and databases
*.log
*.sqlite3

# Python-specific files
*.egg
*.egg-info/
dist/
build/

# dotenv environment variables
.env

# Test cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
coverage.xml

# Pip
pip-log.txt

# Unit test / coverage reports
nosetests.xml
test-output/

